.doughnut {
    box-shadow: 1ch;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: grey;
    text-shadow: lightskyblue;
}

@media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
}