.pie {
    box-shadow: 1ch;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: grey;
    text-shadow: lightskyblue;
}

@media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
}

.choose {
    display: block;
    font-family: sans-serif;
    color: #444;
    /*background-color: lightsalmon;*/
    padding: .6em 1.4em .5em 5em;
    align-content: center !important;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 30px !important;
}
